<head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Consulta</title>
      <link rel="stylesheet" href="css/normalize.css">
      <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="{{ url_for('static', filename='form.css')}}">
  </head>
  <body>

    <form action="{{ url_for('home')}}" method="post">

      <h1>Días de descanso</h1>

      <fieldset>
        <legend><span class="number">1</span>Usuario</legend>
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name" required>

        <!-- <label for="mail">Email:</label>
        <input type="email" id="mail" name="user_email">

        <label for="password">Password:</label>
        <input type="password" id="password" name="user_password">

        <label>Age:</label>
        <input type="radio" id="under_13" value="under_13" name="user_age"><label for="under_13" class="light">Under 13</label><br>
        <input type="radio" id="over_13" value="over_13" name="user_age"><label for="over_13" class="light">13 or older</label> -->
      </fieldset>

      <fieldset>
        <legend><span class="number">2</span>Descansos</legend>
        <!-- <label for="bio">Biography:</label>
        <textarea id="bio" name="user_bio"></textarea> -->
      </fieldset>
      <fieldset>
      <label for="job">Día de termino de descanso:</label>
      <select id="job" name="day" required>
        <optgroup label="Termino tu descanso ">
          <option value="1">Termina hoy</option>
          <option value="2">Termina mañana</option>
          <option value="3">Término ayer</option>
          <option value="4">Término antier</option>
          <!-- <option value="rails_developer"> Rails Developer</option>
          <option value="web_designer">Web Designer</option>
          <option value="WordPress_developer">WordPress Developer</option> -->
        </optgroup>
        <!-- <optgroup label="Mobile">
          <option value="Android_developer">Androild Developer</option>
          <option value="iOS_developer">iOS Developer</option>
          <option value="mobile_designer">Mobile Designer</option>
        </optgroup>
        <optgroup label="Business">
          <option value="business_owner">Business Owner</option>
          <option value="freelancer">Freelancer</option>
        </optgroup>
        <optgroup label="Other">
          <option value="secretary">Secretary</option>
          <option value="maintenance">Maintenance</option>
        </optgroup> -->
      </select>
        <label for="mail">Fecha a consultar: ejemplo-> 2021-04-15</label>
        <input type="text" name="date" required>

        <!-- <label>Interests:</label>
        <input type="checkbox" id="development" value="interest_development" name="user_interest"><label class="light" for="development">Development</label><br>
          <input type="checkbox" id="design" value="interest_design" name="user_interest"><label class="light" for="design">Design</label><br>
        <input type="checkbox" id="business" value="interest_business" name="user_interest"><label class="light" for="business">Business</label> -->

      </fieldset>
      <button type="submit">Consultar</button>
    </form>

  </body>
</html>
